@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  margin-top: 1vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  background-color: #1b4088;
  min-height: 65px;
  height: 10vh;
  display: flex;
  justify-content: start;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  flex: 1;
  z-index: 2;
}

.button-btn{
  position: absolute;
  right: 2rem;
  font-size: 15px;
  padding: 9px 20px;
  margin: 0;
  border-radius: 20px;
  border: 0;
  text-align: center;
  text-decoration: dotted;
  color: #fff;
  background-color: #fc9216;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 750;
  cursor: pointer;
  outline: none;
}
.button-btn-priceConversion{
  position: absolute;
  /* right: 2rem; */
  left: 50%;
  font-size: 15px;
  padding: 9px 20px;
  margin: 0;
  border-radius: 20px;
  border: 0;
  text-align: center;
  text-decoration: dotted;
  color: #fff;
  background-color: #fc9216;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 750;
  cursor: pointer;
  outline: none;
}

.button-btn:hover{
  opacity: 0.8;
transition: 0.5s;
}

.menu-bars {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  font-size: 1.5rem;
  background: none;
}

.nav-menu {
  background-color: #112749;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 1;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #fc9216;
  transition: 0.5s;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #1b4088;
  width: 30%;
  height: 10vh;
  min-height: 65px;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 2;
}

span {
  margin-left: 16px;
}
